Repository stephanebachelier/mongodb_replica_set: changes, and which lint-staged commands are due for each by the changed paths.
All: standard --fix, jsonlint, prettier --write, yamllint

.lintstagedrc.json:

{
  "linters": {
    "**/*.js": ["standard --fix", "git add"],
    "test/**/*.js": ["standard --fix", "git add"],
    "*.json": ["jsonlint", "prettier --write", "git add"],
    "*.yaml": ["yamllint", "prettier --write", "git add"]
  },
  "ignore": ["node_modules"]
}

chore: add release-it
  package.json
  yarn.lock
Due: jsonlint, prettier --write

chore: add release configuration
  .release-it.json
  package.json
Due: jsonlint, prettier --write

chore(pkg): fix invalid publishConfig access value
  package.json
Due: jsonlint, prettier --write

chore(release): add npm and git sign configuration
  .release-it.json
Due: jsonlint, prettier --write

chore(release): fix commit message to use chore type
  .release-it.json
Due: jsonlint, prettier --write

chore: release 0.1.0
  CHANGELOG.md
  package.json
Due: jsonlint, prettier --write

refactor: migrate all helpers into lib folder
  index.js
  lib/commands.js
  lib/conf.js
  lib/mongo.js
  lib/rs/index.js
  lib/rs/initiate.js
  lib/rs/status.js
  lib/rs/url.js
  lib/stdin.js
Due: standard --fix

chore(pkg): update packed files
  package.json
Due: jsonlint, prettier --write

fix(rs): add back url command
  lib/rs/index.js
Due: standard --fix

chore(pkg): add bin to packed files
  package.json
Due: jsonlint, prettier --write

chore: release 0.1.1
  CHANGELOG.md
  package.json
Due: jsonlint, prettier --write

fix(bin): add shebang on top
  bin/cli.js
Due: standard --fix

chore(pkg): use full relative path to bin cli.js
  package.json
Due: jsonlint, prettier --write

chore: release 0.1.2
  CHANGELOG.md
  package.json
Due: jsonlint, prettier --write

fix(rs): fix url command
  lib/rs/url.js
Due: standard --fix

docs(examples): add both prog & cli examples
  examples/setup.js
  examples/setup.sh
Due: standard --fix

docs(readme): add references to examples provided
  README.md
Due: none

chore: release 0.1.3
  CHANGELOG.md
  package.json
Due: jsonlint, prettier --write

feat(cli): use mongoPath as an option
  bin/cli.js
Due: standard --fix

fix(cli): fix option aliases to use single letter
  bin/cli.js
Due: standard --fix

docs(cli): add options aliases to cli help
  bin/cli.js
Due: standard --fix

chore(release): enforce log with conventional changelog
  .release-it.json
Due: jsonlint, prettier --write

chore(release): remove all npm configuration to use default
  .release-it.json
Due: jsonlint, prettier --write

docs: fix examples
  README.md
  examples/setup.sh
Due: none

chore: migrate to scoped package
  package.json
Due: jsonlint, prettier --write

docs(readme): add installation instruction
  README.md
Due: none

chore: rename package to mrepset
  CHANGELOG.md
  README.md
  package.json
Due: jsonlint, prettier --write

chore: release 0.2.0
  CHANGELOG.md
  package.json
Due: jsonlint, prettier --write
